
{% extends 'base.html' %} 
{% block content %}
<form method='POST'>
    {% csrf_token %}
    <div class="container">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="fname"/>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="sname"/>
      </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="email"/>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="password"/>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<div>
  <p> Don't have an account? </p>
  <a href="{% url 'login' %}" class='btn btn-primary'>login</a>
</div>
  {% endblock %}